@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .logo {
    border-radius: 10px;
    width: 60px;
    margin-right: 10px;
  }

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    line-height: 90%;
    font-weight: 700;

    .row1{
      font-size: 20px;
    }

    .row2 {
      font-size: 32px;
    }
  }
}

main {
  display: flex;
}

aside {
  min-width: 250px;
}
