@font-face {
  font-family: 'Bruno';
  src: url('/public/BrunoAceSC-Regular.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('/public/Jura-VariableFont_wght.ttf');
}

:root {
  --sidebar-width: 360px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 18px;
  color: #2C2825;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #E6E6E6;

  .logo {
    border-radius: 10px;
    width: 68px;
    margin-right: 8px;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Bruno", sans-serif;
    line-height: 90%;
    font-weight: 700;

    .row1{
      font-size: 21px;
      line-height: 22px;
    }

    .row2 {
      font-size: 28px;
      line-height: 28px;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  a {
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    color: #2C2825;
  }
}

menu {
  margin: auto 0 0 0;
  border-top: 1px solid #E6E6E6;
  padding: 20px 20px 20px 40px;

  li {
    padding: 10px 0;
  }
}

main {
  display: flex;
}

aside {
  min-width: var(--sidebar-width);
  border-right: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
}

section {
  margin-left: var(--sidebar-width);
  overflow: auto;
}

.slide {
  padding: 20px;
  height: 100vh;

  h2 {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 15px;
  }

  .annotation {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &-home {
    background-color: burlywood;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .annotation {
      text-align: right;
    }
  }
}
